{% extends 'base.html.twig' %}

{% block title %}BarcodeFinder - Mes éléments enregistrées{% endblock %}

{% block body %}

<div class="container">
    <h1>Ma bibliothèque</h1>
    
    <div class="col s12 m7">

    {% for product in products %}
        {% if product.getUserid() == app.user.id %}
        <div class="card horizontal">
            <div class="card-image">
                <img width="300" height="300" src="{{product.getProductImgSrc()}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span>ISBN : {{product.getProductISBN()}}</span>
                    <h5>{{product.getProductName()}}</h5>
                    <p>Catégorie : {{product.getProductCategory()}}</p>
                </div>
                <form method="post" >
                    <div class="card-action right-align">
                        <a class="btn red" href="{{ path('delete_product', {id: product.getId()}) }}">Supprimer</a>
                        <a class="btn blue" target="__blank" href="{{ path('product', {isbn: product.getProductISBN()}) }}">Consulter</a>
                    </div>
                </form>
                
            </div>
        </div>
        {% endif %}
    {% endfor %}
    
</div>
{% endblock %}
